<style>
	.rate {
		cursor: pointer;
	}
</style>

<%
login = @login
user = BlackStack::User.where(:id=>params[:uid]).first
%>

<%
if !login.nil?
%>
<!-- Page content
	================================================== -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class='span6'>
			<%=nav3("Settings", "#{getDivisionURL}/settings/dashboard", "Users", "#{getDivisionURL}/settings/users", user.name.to_s)%>
		</div>
		<div class='span6' align='right' style='text-align: right;alignment-adjust: right; margin-left: 0;'>
			<button id='save' name='save' class="btn btn-blue btn-medium" type="button" title='Save Changes On Selected Users'>
				<i class="icon-ok"></i>
				Save
			</button>
		</div>
	</section>
</div>
<%
end # if !login.nil?
%>

<br/>
<br/>

<section class="container row-fluid">
	<div class='span6' style='position:relative;height:800px;'>
		<div style='position:absolute;left:0px;top:0px;'>
			<img class='avatar' width='128px' src="<%="https://www.gravatar.com/avatar/" + Digest::MD5.hexdigest(user.email.strip.downcase)%>" alt="<%=user.name.gsub('"', '&#34;')%>" title="<%=user.name.gsub('"', '&#34;')%>">
		</div>
		<div style='position:absolute;left:144px;top:0px;'>
			<h1><%=user.name.encode_html%></h1>
			<table style='font-size:18px; border-spacing: 10px; border-collapse: separate;'>
				<tr>
					<td><i class='icon-briefcase'></i></td>
					<td><%=user.client.name.encode_html%></td>	
				</tr>
				<tr>
					<td><i class='icon-bookmark'></i></td>
					<td>
					<%
					if user.client.isDivisionAdmin?
						%>
						<span class='badge badge-pink'>Customer Success Manager</span>
						<%
					else
						%>
						<span class='badge badge-green'>Standard User</span>
						<%
					end
					%>
					</td>
				</tr>
				<tr>
					<td><i class='icon-star'></i></td>
					<td><b>Rate:</b> 
					<%
					rate = user.rate
					if rate.nil?
						%>
						<span style='color:gray;'><i>no data</i></span>
						<%
					elsif rate.to_f < 3.to_f # TODO: parametrizar este umbral
						%>
						<span style='color:red;font-weight:bold;'><%=rate.round(2)%> / 5</span>
						<%
					elsif rate.to_f < 4.to_f # TODO: parametrizar este umbral
						%>
						<span style='color:orange;font-weight:bold;'><%=rate.round(2)%> / 5</span>
						<%
					else
						%>
						<span style='color:green;font-weight:bold;'><%=rate.round(2)%> / 5</span>
						<%
					end
					%>
					</td>	
				</tr>
			</table>
		</div>
		<div style='position:relative;left:0px;top:200px;height:1000px;'>
			<span style='font-size:22px;'>Latest Feedbacks to <b><%=user.name%></b>'s Work</span><br/>
			<br/>
			<%
			n = 0
			DB["
				SELECT TOP 5
					u.id as id_user,
					u.name as user_name,
					c.name as client_name,
					dbo.fnTimeAgoDescription(o.create_time,getdate()) as timeago,
					o.rate,
					o.feedback
				FROM user_feedback o WITH (NOLOCK)
				JOIN [user] u WITH (NOLOCK) ON u.id = o.id_user_from
				JOIN client c WITH (NOLOCK) ON c.id = u.id_client
				WHERE o.id_user_to='#{user.id.to_guid}'
				ORDER BY o.create_time DESC
			"].all { |row|
				%>
				<div style='font-size:16px;'>
					<span style='color:gray;'><%=row[:timeago]%></span> by <span><b><%=row[:user_name]%></span></b> from <b><%=row[:client_name]%></span></b><br/>
					<%
					i = 0
					while ( i < row[:rate].to_i )
						%>
						<i class='icon-star' style='color:rgb(0,162,232);'></i>
						<%
						i += 1
					end
					while ( i < 5 )
						%>
						<i class='icon-star-empty' style='color:rgb(0,162,232);'></i>
						<%
						i += 1
					end
					%>
					<br>
					<span><i><%=row[:feedback].encode_html%></i></span><br/>
					<br>
				</div>
				<%
				n += 1		
			}

			if n==0
				%>
				<div style='font-size:16px;'>
				<span style='color:gray;'><i>No feedback received yet.</i></span>
				</div>
				<%
			end
			%>
		</div>
	</div>
	<div class='span6'>
		<form method='GET' action='<%=getDivisionURL%>/settings/filter_create_user_feedback'>
			<input id='rate' name='rate' type='hidden' value=''>
			<input id='id_user_from' name='id_user_from' type='hidden' value='<%=@login.user.id.to_guid%>'>
			<input id='id_user_to' name='id_user_to' type='hidden' value='<%=user.id.to_guid%>'>
			<span style='font-size:22px;'>Rate <b><%=user.name%></b>'s Work</span><br/>
			<br/>
			<span style='font-size:22px;' id='rate-bar' data-rate=''>
				<i class='icon-star-empty rate' data-rate='1' id='rate-1' style='color:rgb(0,162,232);'></i>
				<i class='icon-star-empty rate' data-rate='2' id='rate-2' style='color:rgb(0,162,232);'></i>
				<i class='icon-star-empty rate' data-rate='3' id='rate-3' style='color:rgb(0,162,232);'></i>
				<i class='icon-star-empty rate' data-rate='4' id='rate-4' style='color:rgb(0,162,232);'></i>
				<i class='icon-star-empty rate' data-rate='5' id='rate-5' style='color:rgb(0,162,232);'></i>
			</span><br/>
			<br/>
			<textarea id='feedback' name='feedback' placeholder='Share your experience also.' style='width:90%;font-size:22px;' rows=5 maxlength=2000></textarea><br/>
			<br/>
			<button id='submit' class='btn btn-large btn-blue btn-submit' disabled>Submit</button>
		</form>
	</div>
</section>

<script>
	function startOn(o) {
		$(o).removeClass("icon-star-empty");
		$(o).addClass("icon-star");
	}

	function startOff(o) {
		$(o).removeClass("icon-star");
		$(o).addClass("icon-star-empty");
	}

	function setRateBar(o) {
		var rate = $(o).attr('data-rate');

		$("#rate").val(rate);

		i = 1;
		while (i<=rate) {
			startOn( $("#rate-"+i.toString()).get(0) );
			i++;
		}
		while (i<=5) {
			startOff( $("#rate-"+i.toString()).get(0) );
			i++;
		}
	}

	$('.rate').mousemove(function() {
		//setRateBar(this);
	});

	$('.rate').click(function() {
		var rate = $(this).attr('data-rate');
		o = $("#rate-bar");
		o.attr('data-rate', rate);
		setRateBar(o.get(0));
		$('#submit').removeAttr('disabled');
		$('#feedback').focus();
	});

</script>