<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->

<!-- Message and error alerts -->
<%= ERB.new(File.read(File.expand_path("views/templates/head.erb"))).result(binding) %>
<!-- / Message and error alerts -->

<body class=" default-layout wysihtml5-supported" style>
	<!-- Main navigation bar -->
	<%= ERB.new(File.read(File.expand_path("views/templates/header.erb"))).result(binding) %>
	<!-- / Main navigation bar -->
	
	<div id="conversation-modal" class='popup' tabindex="-1" style="color: rgb(60,60,60); background-color: white; opacity: 1.0; z-index:999998; display:none; position:fixed; text-align: left; top: 40px; left: 0px; width: 100%; height:100%;">
		<div class='top-right-buttons'>
			<button class='cancel-button btn btn-link btn-large simple menu-link' style='font-size: 32px; text-decoration: none;'><i class='icon-remove'> </i></button>
		</div>
		<div class='area' style='position:relative;left:0px;width:100%;'>
			<section class='row-fluid'>
				<div class='span8'>
					<div id='conversation' class='box widget-chat'> 
						<div id="messages" style='height:300px;overflow-y:auto;'>
						<!-- draw the conversation here -->
						</div>

						<div id="messages" style='position:relative;width:100%;height:100px;'>

							<div class="row-fluid" id='send_message_disabled_for_users' style='visibility:visible;position:absolute;left:0px;top:0px;height:100px;background-image:url("/core/images/pushchat.png");'>
									<center><h3>
										Chats of This Pipeline are Managed by Operators Only
										<br/>
										<a id='change_pipeline_configuration_link' href='/prospecting/dashboard#title-messages' target='_window' style='text-decoration:none;'>Change Configuration</a>
									</h3></center>
							</div>

							<div class="row-fluid" id='send_message_disabled_for_operators' style='visibility:hidden;position:absolute;left:0px;top:0px;height:100px;background-image:url("/core/images/pushchat.png");'>
								<center><h3>
								The Client is not Allowing Operators 
								<br/>
								to Manage the Chats of this Pipeline.
								</h3></center>
							</div>

							<div class="row-fluid" id='send_message_enabled' style='visibility:hidden;position:absolute;left:0px;top:0px;'>
								<div class='span10'>
									<div class="btn-group" style='position:relative;'>
										<ul id='templates-list' class="dropdown-menu btn-templates-list">
											<!-- JavaScript will write the content here -->
											<!-- Example
											<li class='text-left item'>
												<a class='tamplate' data-id='...' data-body='...' href='#'>
													<b>Introduction</b> Hello Michael, can I ffdj ddfgj dl;gjdg dfg dgdf gdg dgdf g dg dfg dg dgdfg dfgd gdgdfgdg
												</a>
											</li>

											<li class='text-left item disabled'>
												<a class='tamplate' data-id='...' data-body='...' href='#'>
													<b>Introduction</b> Hello Michael, can I ffdj ddfgj dl;gjdg dfg dgdf gdg dgdf g dg dfg dg dgdfg dfgd gdgdfgdg
													<span style='color: red;padding-left: 10px;padding-right: 5px;position: absolute;right: 0px;background-color: white;'><b>requires phone</b></span>
												</a>
											</li>
											<li class='text-left item'>
												<a class='tamplate' data-id='...' data-body='...' href='#'><b>Welcome</b> Hello Michael, can I.....</a>
											</li>
		
											<li class='text-left item'>
												<a class='tamplate' data-id='...' data-body='...' href='#'><b>Transfer</b> Hello Michael, can I.....</a>
											</li>
											-->
										</ul>
										<button id='templates' class='btn btn-link btn-normal dropdown-toggle' data-toggle="dropdown" style='text-decoration: none; padding:0px; margin:0px;' title='Choose a Template'>
											templates
											<span class="caret"></span>
										</button>
									</div>
									<textarea rows="1" id="body" style="padding:0px; margin:0px; overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 75px; width:100%;"></textarea>
									<span id='warning-behalf'><span style='color:green;'><i class='icon-info-sign'></i></span> This message will be delivered form the account of our sales assistant <b id='warning-behalf-name'>foo</b>.</span>
									<div id='warning-source'><br/><span style='color:orange;'><i class='icon-warning-sign'></i></span> This lead is belonging the search <b><a href='#' target='_window' id='warning-source-search'>foo</a></b> that is not assigned to any <b>active transfer message</b> in the pipeline <b><a href='#' target='_window' id='warning-source-pipeline'>foo</a></b>. Be sure this lead is belinging the target you want before send a message.</div>
								</div>
								<div class="span2">
									<br/>
									<div class="btn-group">
										<button id='send' class="btn btn-blue send" data-transfer='yes'>Transfer</button>
										<button id='send-menu' class="btn btn-blue dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#" class='send' data-transfer='no' onclick="$('#send').text('Send');$('#send').data('transfer', 'no');">Send</a></li>
											<li><a href="#" class='send' data-transfer='yes' onclick="$('#send').text('Transfer');$('#send').data('transfer', 'yes');">Send & Transfer</a></li>
											<li class='divider'></li>
											<li><span class='badge badge-blue' style='font-size:8pt;'><span class='group_chat_availables'>...</span> group chats availables</span></li>
											<li style='font-size:8pt;color:gray;'><b><i class='icon-info-sign'></i> Hint:</b> <span class='group_chat_waiting_slots'>...</span> group chats slots <span class='group_chat_waiting_hours'>...</span> hours. <a href='#' target='_window' class='group_chat_more_details'>More details.</a></li>
										</ul>
									</div>
									<br/>
									<span style='font-size:8pt;color:gray;'><span class='group_chat_availables'>...</span> group chats available</span>. <a href='#' style='font-size:8pt;' target='_window' class='group_chat_more_details'>More details.</a></span>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class='span4'>
					<section class='row-fluid'>
						<div class='span2' style='vertical-align:top;'>
							<img id='photo' src="/core/images/avatar.png" title="...">
						</div>
						<div class='span10' style='vertical-align:top;'>
							<h4>
								<span id='name'>Lead Name Here</span> 
								<span class='badge badge-green'>lead</span> 
								<a id='share-link' href='' style='text-decoration:none;' target='_window' title='Share this conversation - Right click and copy URL'><i class='icon-link'></i></a>
							</h4>
							<span><b>search:</b> <a id='search' href='#' target='_window'>Search Link Name Here</a></span>
						</div>
					</section>

					<section class='row-fluid'>
						<h5>Insights</h5>
						<table>
							<tr>
								<td>
									<span><b>Headline:</b></span> 
								</td>
								<td width='5px'></td>
								<td>
									<span id='headline'>headline here</span><br/>
								</td>
							</tr>

							<tr>
								<td>
									<span><b>Industry:</b></span> 
								</td>
								<td></td>
								<td>
									<span id='industry'>industry here</span><br/>
								</td>
							</tr>

							<tr>
								<td>
									<span><b>Location:</b></span> 
								</td>
								<td></td>
								<td>
									<span id='location'>location here</span><br/>
								</td>
							</tr>

							<tr>
								<td>
									<span><b>LinkedIn:</b></span> 
								</td>
								<td></td>
								<td>
									<span id='linkedin'>linkedin here</span><br/>		
								</td>
							</tr>
						</table>						
					</section>

					<section class='row-fluid'>
						<div class='span12'>
							<h5>Contact Information</h5>
						</div>
						<div class='span12'>
							<div class='span6' id='emails'>
								<ul><!-- complete this by AJAX when loading the conversation --></ul>
							</div>
							<div class='span6' id='phones'>
								<ul><!-- complete this by AJAX when loading the conversation --></ul>
							</div>
						</div>
						<div class='span12'>
							<div class='span6'>
								<div class="input-append">
									<input id='add-email-value' class="span8" type='text' placeholder='email' />
									<button id='add-email-button' data-type='<%=BlackStack::Append::TYPE_EMAIL.to_s%>' data-field='add-email-value' data-id='...' class="btn btn-link add-data-button" style="text-decoration:none;" type="button" onclick='addData(this);'>
										<i class='icon-plus'></i>
									</button>
								</div>
							</div>
							<div class='span6'>
								<div class="input-append">
									<input id='add-phone-value' class="span8" type='text' placeholder='phone' />
									<button id='add-phone-button' data-type='<%=BlackStack::Append::TYPE_PHONE.to_s%>' data-field='add-phone-value' data-id='...' class="btn btn-link add-data-button" style="text-decoration:none;" type="button" onclick='addData(this);'>
										<i class='icon-plus'></i>
									</button>
								</div>
							</div>
						</div>
					</section>

					<section class='row-fluid'>
						<div class='span12'>
							<h5>Reminders <i class='icon-time'></i></h5>
						</div>

						<div class='span12' id='reminders'>
							<!-- reminders are added here -->
						</div>

						<div class='span12'>
							<div class='span10 text-right'>
								<span>remind in:</span>
								<select id='new-reminder-units' class='span4'>
									<%
									n = 0;
									while n<31
										n+=1
										%>
										<option value='<%= n %>' <%=(n==1) ? 'selected' : ''%>><%= n %></option>
										<%
									end
									%>							
								</select>
								<select id='new-reminder-period' class='span4'>
									<option value='D'>Day(s)</option>
									<option value='W' selected>Week(s)</option>
									<option value='M'>Months(s)</option>
								</select>
							</div>
							<div class='span10 text-right'>
								<textarea id='new-reminder-comment' class='span12'></textarea>
							</div>
							<div class='span10 text-right'>
								<button id='new-remidner-button' data-id='...' class='btn btn-blue btn-mini' title='Add Reminder' onclick='addReminder(this);'>add</button>
							</div>
						</div>
					</section>

					<section class='row-fluid'>
						<div class='span6' id='emails'>
							<!-- add emails here -->
						</div>
						<div class='span6' id='phones'>
							<!-- add phones here -->
						</div>
					</section>
				</div>
			<br/>
			<!--
			<section class="modal-footer" style='background-color: #ffffff; padding: 0px 15px 15px; border-top: none;'>
				<button id="activate-btn" class="btn btn-blue btn-large btn-disabled btn-block" onclick="enableGCT()" disabled>Activate</button>
				<button class="btn btn-red btn-large btn-block" id="close-modal" data-dismiss="modal">I Have Not a LinkedIn Account</button>
			</section>
			<br/>
			<br/>
			-->
		</div>
	</div>

	<!-- Left navigation panel -->
	<%= ERB.new(File.read(File.expand_path("views/templates/leftbar.erb"))).result(binding) %>
	<!-- / Left navigation panel -->
	
	<!-- Page content -->
	<section class="row-fluid">

		<!-- Content here -->
		<%=yield%>
		<!-- / Content here -->
		
		<!-- Page footer -->
		<%= ERB.new(File.read(File.expand_path("views/templates/footer.erb"))).result(binding) %>
		<!-- / Page footer -->
	</section>

<script>
    var infos = [];
    var valid = $('#valid');
    var modal = $('#addModal');
    var modal_type = $('#modal-type');
    var modal_input = $('#modal-input');
    var modal_source = $('#modal-sources');
    var alert_error = $('#modal-alert-error');
    var alert_success = $('#modal-alert-success');
    var alert_success_create = $('#modal-alert-success-create');

    $(window).keydown(function (event) {
        if (event.keyCode === 27) {
            dismissModal();
        }
    });

    modal.keypress(function (event) {
        if (event.keyCode === 27) {
            if (window === modal) {
                dismissModal();
            }
        }
    });

    $('#modal-cancel').keyup(function (event) {
        if (event.keyCode === 9) {
            modal_type.focus();
        }
    });

    modal_input.focusout(function (e) {
        var data = $(this).val();
        var type = modal_type.val();

        url = "./filter_responses_validate_append_data_format?data=" + data + "&t=" + type;

        fetch(url).then(function (response) {
            return response.json();
        }).then(function (json) {
            if (json['valid'] === true) {
                valid.text('correct');
                alert_success.prop('hidden', false);
                alert_success.fadeIn(1000);
                setTimeout(function () {
                    alert_success.fadeOut(2000);
                });
                if (alert_error.prop('hidden') === false) {
                    alert_error.prop('hidden', true);
                }
            } else {
                valid.text('error');
                alert_error.prop('hidden', false);
                if (alert_success.prop('hidden') === false) {
                    alert_success.prop('hidden', true);
                }
            }
        }).catch(function (error) {
            console.error(error);
        });
    });

    function showModal() {
        modal.css('display', 'block');
        modal_type.focus();
        if (alert_error.prop('hidden') === false) {
            alert_error.prop('hidden', true);
        }
        if (alert_success.prop('hidden') === false) {
            alert_success.prop('hidden', true);
        }
    }

    function saveDataModal() {
        if (valid.text() === 'correct') {
            if (modal_source.val() !== '') {
                var t = modal_type.val();
                var d = modal_input.val();
                var s = modal_source.val();
                var rid = $('#rid').val().toString().replace('{','').replace('}','');
                url = './filter_responses_create_append?type=' + t + '&data=' + d + '&sources=' + s + '&rid=' + rid;
                fetch(url).then(function (response) {
                    return response.json();
                }).then(function (json) {
                    clearInputs();
                    if (json['action'] === true) {
                        alert_success_create.fadeOut(4000);
                    } else {
                        alert_error.fadeOut(4000);
                    }
                }).catch(function (error) {
                    console.error(error);
                })
            }
        }
    }

    function clearInputs() {
        modal_type.val('');
        modal_input.val('');
        modal_source.val('');
        modal_type.focus();
    }

    function dismissModal() {
        modal.css('display', 'none');
        modal_type.val('');
        modal_input.val('');
        modal_source.val('');
    }
</script>

<script>
    var modal_rid = $('#modal-rid');
    var rid = $('#rid');
    var typeMessage;
    var gmessage;
    var gemail;
    var gphone;
    var radios;


    function showModalReply() {
        var modalReply = $('#addModalReply');
        modalReply.css('display', 'block');
        gphone = '';
        gemail = '';
        gmessage = '';
        typeMessage = undefined;

        radios = $('input[type=radio]:checked');
        for (i = 0; i < radios.length; i++) {
            if (radios[i].name === 'manual-reply-email' ) {
                radios[i].checked = false;
            }
            if (radios[i].name === 'manual-reply-phone') {
                radios[i].checked = false;
            }
        }
    }

    function dismissModalReply() {
        var modalReply = $('#addModalReply');
        modalReply.css('display', 'none');
		$('.template').each(function(i, e) {
			$(e).attr('disabled', true);
		});
		$('#manual-reply-error').hide();
		$('#manual-reply-error-messages').text('');
    }

    function getModalMessage() {
        var textarea = $("iframe.wysihtml5-sandbox").contents().find('.input-block-level');
		opt = $('#messages').find(":selected");
		
//		r = gmessage.toString().replace('!email', gemail);
//		r = gmessage.toString().replace('!phone', gphone);
		textarea.text("LALALA");
		dismissModalReply();
    }

	function updateMessageLinks() {
		email_checked = false;
		phone_checked = false;

		$('.manual-reply-email').each(function(i, e) {
			if ($(e).is(':checked')) {
				email_checked = true
			}
		});

		$('.manual-reply-phone').each(function(i, e) {
			if ($(e).is(':checked')) {
				phone_checked = true
			}
		});


		$('.template').each(function(i, e) {
			data_require = $(e).attr('data-require');

			if (phone_checked && data_require == 'phone') {
				$(e).attr('disabled', false);
			} else if (!phone_checked && data_require == 'phone') {
				$(e).attr('disabled', true);
			}

			if (email_checked && data_require == 'email') {
				$(e).attr('disabled', false);
			} else if (!email_checked && data_require == 'email') {
				$(e).attr('disabled', true);
			}

			if (email_checked && phone_checked) {
				$(e).attr('disabled', false);
			} else if (!email_checked && !phone_checked)  {
				$(e).attr('disabled', true);
			} else if (!email_checked && !phone_checked) {
				$(e).attr('disabled', true);
			}
		});
	}

	function generateManualReply(el) {
		var email = '';
		var phone = '';
		var chosen_e = '';
		var chosen_p = '';
		var id_m = '';
		var id_p = '';

		if ($(el).attr('disabled') != 'disabled') {
			id_p = $('#profile-id').val();
			id_m = $(el).attr('data-message-id');

			chosen_e = $($('.manual-reply-email:checked')[0]).val();
			chosen_p = $($('.manual-reply-phone:checked')[0]).val();

			if (chosen_e == undefined) {
				email = null;
			} else {
				email = chosen_e;
			}

			if (chosen_p == undefined) {
				phone = null;
			} else {
				phone = chosen_p;
			}

			$.ajax({
				url: '<%=getBackendSinatraURL%>/api1.3/prospecting/create_manual_reply.json',
				method: 'GET',
				data: {
					id_profile: id_p,
					id_message: id_m,
					chosen_email: email,
					chosen_phone: phone,
					id_lnuser: $('#id_lnuser').val(),
					id_result: $('#id_result').val()
				},
			}).done(function(json) {
				j = JSON.parse(json);
				if (j.status == 'success') {
					t = $("textarea#body");
					if (t.length) {
						t.val(j.value);
						dismissModalReply();
					} else {
						$('#manual-reply-error').show();
						$('#manual-reply-error-messages').text("text area not present");
					}
					
				} else {
					$('#manual-reply-error').show();
					$('#manual-reply-error-messages').text(j.value);
				}
			}).fail(function(error) {
			});
		}
	}
</script>
</body>
</html>