<%
# getting full list of sections
sections = BlackStack::Extensions::extensions.select { |e| e.show_in_dashboard == true && !e.services_section.nil? }.map { |e| e.services_section }.uniq.sort
%>

<section>
<%
# getting full list of sections
sections.each { |section|
    %>
    <h4><i class="icon-coffee"></i> <%=section.encode_html%></h4>
    <section class='row-fluid'>
    <%
    i = 0
    BlackStack::Extensions::extensions.select { |e| e.show_in_dashboard == true && e.services_section == section }.each do |e|
        i += 1
    
        if i==3
        %>
        </section>
        <section class='row-fluid'>
        <%
        end # if 

        %>
        <section class='span4 box' style='height:165px;'>
            <a href="/<%=e.name.downcase.encode_html%>?service=<%=e.name.downcase.encode_html%>">
                <div class='span3'>
                    <img src='/leads/images/logo.png' width='48px' height='48px' />
                </div>
                <div class='span9' style='position:relative;height:100%;'>
                    <%=e.name.capitalize.encode_html%>
                    <br/>
                    <span style='font-size: 10px;color:gray;'><%=e.description.encode_html%></span>

                    <div style='position:absolute;bottom:0px;right:0px;'>
                        Go <i class='icon-chevron-right'></i>
                    </div>
                </div>
            </a>
        </section>
        <%
    end # each
    %>
        <!-- TODO: remove this as soon as we release these services -->
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/buying-signals.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Buying Signals
                <br/>
                <span style='font-size: 10px;color:gray;'>Rotating IP Mobile Proxies at an Afforable Price.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/sales-crowd.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Sales Crowd
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>
    <%
}
%>
    <section class='row-fluid'>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/crm.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                CRM
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/leads-promoted-results.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Leads Promoted Results
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/email-verifier.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Email Verifier
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>

    <section class='row-fluid'>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/email-appending.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Email Appending
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/gmass.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                GMass
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>
</section>

<!-- Infrastructure Services -->
<section>
    <h4><i class="icon-coffee"></i> Infrastructure Services</h4>
    <section class='row-fluid'>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/mobile-proxies.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Mobile Proxies
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/datacenter-proxies.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Datacenter Proxies
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/nodes-monitoring.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Nodes Monitoring
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>

    <section class='row-fluid'>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/proxies-monitoring.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Proxies Monitoring
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/proxy-installer.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Proxy Installer
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/smtp-servers.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Email Servers
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>

    <section class='row-fluid'>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/smtp-warmer.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Email Warming
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>
</section>

<!-- Software Services -->
<section>
    <h4><i class="icon-coffee"></i> Software Services</h4>
    <section class='row-fluid'>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/mysaas.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                MySaaS
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/i2p.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Invoicing & Payments Processing
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/affiliates-tracking-service.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Affiliates Tracking
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>

    <section class='row-fluid'>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/mesh.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Mesh
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/deployer.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Deployer
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
        <section class='span4 box' style='height:165px;opacity:0.4;'>
            <div class='span3'>
                <img src='/core/images/extensions/serverless-scraping-service.png' width='48px' height='48px' />
            </div>
            <div class='span9' style='position:relative;height:100%;'>
                Serverless Scraping Service
                <br/>
                <span style='font-size: 10px;color:gray;'>Cost-effective Datacenter Proxies, Never Used Before.</span>

                <div style='position:absolute;bottom:0px;right:0px;'>
                    <span class='badge badge-green'>Soon</span>
                </div>
            </div>
        </section>
    </section>
</section>
