<%
require "digest/md5"
login = @login
user = login.user
account = BlackStack::I2P::Account.where(:id=>user.id_account).first

# get extension
e = BlackStack::Extensions::extensions.select { |e| e.name.downcase==@service.downcase }.first

# get parameters
err = params[:err]
msg = params[:msg]
%>


<div id='wait' name='wait' style='display: none; position: fixed; z-index: 1000000; top: 0; left: 0; height: 100%; width: 100%; background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;'>
	<br/>
	<br/>
	<br/>
	<div id='loader-div'>
		<div id='loader' style='margin: 0 auto'>
		</div>
	</div>
	<br/>
	<br/>
	<center><span id='wait-caption' name='wait-caption' style='font-size: 24;text-align: center;'></span></center>
</div>

<header class="navbar navbar-fixed-top" id="main-navbar">
	<div class="navbar-inner">
		<div class="container">
			<table width='100%'>
				<tr>
					<td width='48px'><a class="logo" href="/dashboard" title='Home'><img alt="<%=CS_HOME_WEBSITE%>_logo" src="/core/images/logo/16x16-01.png" width='25px' height='25px'></a></td>
					
					<td id='services'>
						<span style='color: White;font-family: Arial;font-size: 12px;'>
							<ul class="nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class='icon-coffee'></i> <span id='service_name'><%=@service.to_s.capitalize.encode_html%> <i class="icon-chevron-down"></span></i>  
									</a>
									<ul class="dropdown-menu" style='width:250px;'>
										<li><a href="/dashboard?service=<%=ALL_SERVICES%>"><i class="icon-home"></i> Home</a></li>
										<%
										# getting full list of sections
										sections = BlackStack::Extensions::extensions.select { |e| e.show_in_top_bar == true && !e.services_section.nil? }.map { |e| e.services_section }.uniq.sort
										sections.each { |section|
											%>
											<li class="nav-header"><i class="icon-coffee"></i> <%=section.encode_html%></li>
											<%
											BlackStack::Extensions::extensions.select { |e| e.show_in_top_bar == true && e.services_section == section }.each do |e|
												%>
												<li>
													<a href="/<%=e.name.downcase.encode_html%>?service=<%=e.name.downcase.encode_html%>">
														<%=e.name.capitalize.encode_html%>
														<br/>
														<span style='font-size: 10px;color:gray;'><%=e.description.encode_html%></span>
													</a>
												</li>
												<%
											end # each
										}
										%>
									</ul>
								</li>
							</ul>
						</span>					
					</td>

					<td align='left' style='text-align: left:' width='125px'>
						<%
						if !@hservice.nil?
						%>
						<a href="/leads/plans"> 
							<span>
								<span id='credits' class='label label-blue'><%=account.credits(@service).to_i.to_s%></span> <span style='color:white;'><%=@hservice[:unit_name].to_s%></span>
							</span>
						</a>
						<%
						end
						%>
					</td>

					<td align='right' style='text-align: right;' width='auto' >
						<a href="mailto:<%=HELPDESK_EMAIL%>?subject=I Need Help" style='color:white;'>
							<span>
								<span class='badge badge-blue'><i class="icon-question"></i> <span id='email_support'>Email Support</span></span>
							</span>
						</a>
					</td>

					<td align='right' style='text-align: right:' width='36px'>
					<%
					if !account.api_key.nil?
						if BlackStack::API::api_key.to_guid == account.api_key.to_guid
						%>
						<span class='badge badge-pink' title='You Are Running the Webserver using this API-KEY for validating the API-CALLs.'><i class='icon-key'></i></span>
						<%
						end # if BlackStack::MySaaS::api_key.to_guid == account.api_key.to_guid
					end # if !account.api_key.nil?
					%>
					</td>


					<td align='right' style='text-align: right:' width='54px'>			
						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle usermenu" data-toggle="dropdown">
									<img alt="Avatar" src="<%=("https://www.gravatar.com/avatar/" + Digest::MD5.hexdigest(user.email.strip.downcase)).encode_html%>">
									<!--
									<span>&nbsp;&nbsp;<%=login.user.account.name.encode_html%></span>
									-->
								</a>
								<ul class="dropdown-menu">
									<li class="nav-header">User Details</li>
									<li><a><b>Email:</b> <%=user.email.encode_html%></a></li>
									<li><a><b>Company:</b> <%=account.name.to_s.encode_html%></a></li>								
									<%
									if !e.nil? # I am in a service
										%>
										<li class="divider"></li>
										<li class="nav-header"><%=e.name.to_s.encode_html%></li>
										<%
										e.leftbar_icons.each { |i|
											%>
											<li>
												<a href="/<%=e.name.downcase.to_s.encode_html%>/<%=i.screen.to_s.downcase.encode_html%>"><%=i.label.encode_html%> <span class="icon-<%=i.icon.to_s%>"></span></a>
											</li>
											<%
										}
									end
									%>					
									<li class="divider"></li>
									<li class="nav-header">Options</li>
									<li>
										<a href="/settings/dashboard"><i class='icon-cog'></i> Settings</a>
									</li>
									<li>
										<a href="/logout"><i class='icon-signout'></i>Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</header>


<section class="row-fluid">
	<div class='span12'>
	<%
	if !err.nil?
	%>
	<div class="alert alert-error">
		<%=err.to_s.encode_html%>
	</div>
	<%
	end # err
	%>
					
	<%
	if !msg.nil?
	%>
		<div class="alert alert-success">
			<%=msg.to_s%>
		</div>
	<%
	end # msg
	%>
</section>

