<%
require "digest/md5"
login = @login
user = login.user
account = BlackStack::I2P::Account.where(:id=>user.id_account).first

err = params[:err]
msg = params[:msg]

ALL_SERVICES = '(All Services)'

@service = @login.user.preference('service', ALL_SERVICES, params[:service])

#h = BlackStack::InvoicingPaymentsProcessing.services_descriptor.select { |o| o[:code].upcase == @service.upcase }.first

%>
<div id='wait' name='wait' style='display: none; position: fixed; z-index: 1000000; top: 0; left: 0; height: 100%; width: 100%; background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;'>
	<br/>
	<br/>
	<br/>
	<div id='loader-div'>
		<div id='loader' style='margin: 0 auto'>
		</div>
	</div>
	<br/>
	<br/>
	<center><span id='wait-caption' name='wait-caption' style='font-size: 24;text-align: center;'></span></center>
</div>

<header class="navbar navbar-fixed-top" id="main-navbar">
	<div class="navbar-inner">
		<div class="container">
			<table width='100%'>
				<tr>
					<td width='50px'><a class="logo" href="/dashboard" title='Home'><img alt="<%=CS_HOME_WEBSITE%>_logo" src="/core/images/logo/16x16-01.png" width='25px' height='25px'></a></td>
					<td width='50px'>
						<!-- TODO: badge if this user has any role -->
					</td>
					<td width='250px'>
						<span style='color: White;font-family: Arial;font-size: 12px;'>
							<ul class="nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class='icon-coffee'></i> <%=@service.to_s.capitalize.encode_html%> <i class="icon-chevron-down"></i>  
									</a>
									<ul class="dropdown-menu" style='width:250px;'>
										<li><a href="/dashboard?service=<%=ALL_SERVICES%>"><i class="icon-home"></i> Home</a></li>
										<%
										# getting full list of sections
										sections = BlackStack::Extensions::extensions.select { |e| e.show_in_top_bar == true && !e.services_section.nil? }.map { |e| e.services_section }.uniq.sort
										sections.each { |section|
											%>
											<li class="nav-header"><i class="icon-coffee"></i> <%=section.encode_html%></li>
											<%
											BlackStack::Extensions::extensions.select { |e| e.show_in_top_bar == true && e.services_section == section }.each do |e|
												%>
												<li>
													<a href="/<%=e.name.downcase.encode_html%>?service=<%=e.name.downcase.encode_html%>">
														<%=e.name.capitalize.encode_html%>
														<br/>
														<span style='font-size: 10px;color:gray;'><%=e.description.encode_html%></span>
													</a>
												</li>
												<%
											end # each
										}
										%>
									</ul>
								</li>
							</ul>
						</span>					
					</td>
					<td width='auto' style='padding-top:0px;'>
					<%
					if !account.api_key.nil?
						if BlackStack::API::api_key.to_guid == account.api_key.to_guid
						%>
						<span class='badge badge-blue' title='You Are Running the Webserver using this API-KEY for validating the API-CALLs.'>Website Owner</span>
						<%
						end # if BlackStack::MySaaS::api_key.to_guid == account.api_key.to_guid
					end # if !account.api_key.nil?
					%>
					</td>

					<td></td>
					<td align='right' style='text-align: right:'>
						<a class="btn nav-button collapsed" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-reorder"></span>
						</a>
			
						<div class="nav-collapse collapse">
							<ul class="nav pull-right">
								<li>
									<a href="mailto:<%=HELPDESK_EMAIL%>?subject=I Need Help" style='color:white;'>
										<span>
											<span class='badge badge-blue'><i class="icon-question-sign"></i> Email Support</span>
										</span>
									</a>
								</li>
																		
								<li>
									<a href="/settings/credit"> 
										<span>
											<span class='label label-blue'><%account.credits(@service).to_label%></span> <%=BlackStack::I2P::service_descriptor(@service)[:unit_name].to_s%> 
										</span>
									</a>
								</li>

								<!--
								<li class="separator"></li>
								-->

								<li class="dropdown">
									<a href="#" class="dropdown-toggle usermenu" data-toggle="dropdown">
										<img alt="Avatar" src="<%=("https://www.gravatar.com/avatar/" + Digest::MD5.hexdigest(user.email.strip.downcase)).encode_html%>">
										<!--
										<span>&nbsp;&nbsp;<%=login.user.account.name.encode_html%></span>
										-->
									</a>
									<ul class="dropdown-menu">
										<li class="nav-header">User Details</li>
										<li><a><b>Email:</b> <%=user.email.encode_html%></a></li>
										<li><a><b>Company:</b> <%=account.name.to_s.encode_html%></a></li>								
										<li class="divider"></li>
										<li class="nav-header">Options</li>
										<li>
											<a href="/settings/dashboard"><i class='icon-cog'></i> Settings</a>
										</li>
										<li>
											<a href="/logout"><i class='icon-signout'></i>Sign Out</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>							
					</td>
				</tr>
			</table>
		</div>
	</div>
</header>


<section class="row-fluid">
	<div class='span12'>
	<%
	if !err.nil?
	%>
	<div class="alert alert-error">
		<%=err.to_s.encode_html%>
	</div>
	<%
	end # err
	%>
					
	<%
	if !msg.nil?
	%>
		<div class="alert alert-success">
			<%=msg.to_s%>
		</div>
	<%
	end # msg
	%>
</section>
